---

---
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="pagefind-noindex" content="true" />
<meta name="google-site-verification" content="Ue-nOWKl8b37dpA_44eTIqresdKx1GF8BO1BEfSXwg4" />
<title>Cinematen.be</title>
<meta
    content="Cinematen.be houdt je vinger aan de pols met het meest actuele nieuws uit de film- en seriewereld, inclusief de laatste ontwikkelingen uit Hollywood. Ontdek previews, trailers, recensies en exclusieve interviews. Blijf op de hoogte van alles wat actueel is op het grote en kleine scherm."
    name="description"
/>

<!-- Open Graph / Twitter -->
<meta content="Cinematen.be" property="og:title" />
<meta
    content="Cinematen.be houdt je vinger aan de pols met het meest actuele nieuws uit de film- en seriewereld, inclusief de laatste ontwikkelingen uit Hollywood. Ontdek previews, trailers, recensies en exclusieve interviews. Blijf op de hoogte van alles wat actueel is op het grote en kleine scherm."
    property="og:description"
/>
<meta content="./images/Cinematelogotrans.png" property="og:image" />
<meta content="website" property="og:type" />
<meta content="Cinematen.be" property="twitter:title" />
<meta
    content="Cinematen.be houdt je vinger aan de pols met het meest actuele nieuws uit de film- en seriewereld, inclusief de laatste ontwikkelingen uit Hollywood. Ontdek previews, trailers, recensies en exclusieve interviews. Blijf op de hoogte van alles wat actueel is op het grote en kleine scherm."
    property="twitter:description"
/>
<meta content="/images/Cinematelogotrans.png" property="twitter:image" />
<meta content="summary_large_image" name="twitter:card" />

<!-- Favicon -->
<link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/images/webclip.png" rel="apple-touch-icon" />

<!-- Preload self-hosted font -->
<link rel="preload" href="/fonts/rubik-variable.woff2" as="font" type="font/woff2" crossorigin />

<!-- Critical CSS with self-hosted fonts -->
<style>
    @font-face {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400 700;
        font-display: swap;
        src: url('/fonts/rubik-variable.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Rubik Mono One';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/rubik-mono-one.woff2') format('woff2');
    }
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

<!-- Main stylesheet -->
<link href="/style.css" rel="stylesheet" />

<!-- Webflow touch detection -->
<script>
    document.documentElement.className += " w-mod-js";
    if ("ontouchstart" in window) document.documentElement.className += " w-mod-touch";
</script>

<!-- Google Analytics (deferred) -->
<script>
    window.addEventListener('load', function() {
        var s = document.createElement('script');
        s.src = 'https://www.googletagmanager.com/gtag/js?id=G-KZ3KYRB0T1';
        s.async = true;
        document.head.appendChild(s);
        s.onload = function() {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-KZ3KYRB0T1');
        };
    });
</script>
